.loading7{
  text-align: center;
  padding-top: 10px;
  color: white;
}
.loading7 span{
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
 mix-blend-mode:difference;  
}
.loading7 span::before{
  position: absolute;
  width: 90px;
  z-index: -100;
  height: 70px;
  background-color: white;
  content: "";
  left: 0;
  top: 13px;
  animation: white-move 4s linear infinite;
  -webkit-animation: white-move 4s linear infinite;
}
@keyframes white-move{
  0%,100%{
    right: 0;
  }
  50%{
    left:100% ;
  }
}